.main {
    background-color: rgb(7, 2, 86);
  }
  .bg-nav {
    background-color: #f1f5f1;
  }
  .mail-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .logo {
    border-radius: 20px;
  }
  .link-logo {
    width: 50px;
    height: 40px;
    border-radius: 20%;
  }
  .nav-link {
    cursor: pointer;
  }
  .head{
    background-color: rgb(252, 250, 250);
  }