.main {
  background-color: rgb(9, 4, 66);
}
@media (max-width: 480px) {
  .main {
    display: none;
  }
}
.bg-nav {
  background-color: #e7f8e7;
}
.mail-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-right: 2px solid white;
  padding-right: 10px;
}
.mail-link4 {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
}
.bt {
  background-color: rgb(9, 156, 53);
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
}

@media (max-width: 480px) {
  .bt {
    display: none;
  }
}

.logo {
  border-radius: 20px;
}
.link-logo {
  width: 50px;
  height: 40px;
  border-radius: 20%;
}
.nav-link {
  cursor: pointer;
  color: rgb(11, 10, 10) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.head{
  background-color: #f7f9f7;
}
.dropdown-menu {
  background-color: rgb(182, 244, 189);
  width: 200px;
  border: 0;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-menu.show {
  width: 40%;
}

.dropdown-item {
  width: 100% !important;
  font-weight: bold;
  color: #313231;
}
