.main {
  background-color: rgb(7, 2, 86);
}
.bg-nav {
  background-color: #f1f5f1;
}
.mail-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-right: 2px solid white;
  padding-right: 10px;
}
.mail-link4 {
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
}
.logo {
  border-radius: 20px;
}
.link-logo {
  width: 50px;
  height: 40px;
  border-radius: 20%;
}
.nav-link {
  cursor: pointer;
}
.head {
  background-color: #f1f5f1;
}
.dropdown-menu {
  background-color: rgb(182, 244, 189);
  width: 200px;
  border: 0;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-menu.show {
  width: 40%;
}

.dropdown-item {
  width: 100% !important;
  font-weight: bold;
  color: #313231;
}
