.logo {
  border-radius: 20px;
}
.f-links {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fdfafa;
  padding: 8px;
  font-size: 15px;
}
.f-icon {
  color: green;
  font-size: 20px;
  padding: 5px;
  margin-left: 5px;
}
// .f-icon:hover {
//  color: white;
//  background-color: green;
//  border-radius: 10px;
//  padding: 5px;
// }

.f-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;

  padding-left: 20px;
  margin-top: 5px;
}
.f-section {
  background-color: white;
}
.f-line {
  border: 3px solid rgb(230, 161, 13);
}
