<div class="container-fluid">
  <div class="row bg-dark p-2">
    <div class="col-sm-4 p-2">
      <div class="ms-4">
        <img
          class="p-1 logo m-auto mb-0"
          src="assets/images/logo.webp"
          alt=""
          width="70%"
          height="70px"
        />
      </div>
      <div>
        <p class="text-white p-2 mb-0 ms-4">
          Hyderabad Head Quaters Managed by MAIDEN DROP EDU FOUNDATION Plot No
          26, 100 Ft Road, Main Road, Ayyappa Society, Madhapur, Telangana
          500033, India
        </p>
        <span class="text-white p-2 ms-4 mb-1"
          ><i class="bi bi-telephone me-2"></i>+91 912 121 9858</span
        ><br />
        <span class="text-white p-2 ms-4"
          ><i class="bi bi-envelope-at me-2"></i
          >contact@resokarimnagar.com</span
        >
      </div>
    </div>
    <div class="col-sm-2 p-2">
      <h4 class="text-light ms-4 mb-0">Other Links</h4>
      <hr class="f-line" />
      <ul>
        <li>
          <a href="" class="f-links">Blogs</a>
        </li>
        <li>
          <a href="" class="f-links">Media</a>
        </li>
        <li>
          <a href="" class="f-links">Privacy policy</a>
        </li>
        <li>
          <a href="" class="f-links">Terms & Conditions</a>
        </li>
        <li>
          <a href="" class="f-links">Cancellation policy</a>
        </li>
        <li>
          <a href="" class="f-links">Refund policy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2 p-2">
      <h4 class="text-light ms-4 mb-0">Success Mantra</h4>
      <hr class="f-line" />
      <ul>
        <li>
          <a href="" class="f-links">Reso way of learning</a>
        </li>
        <li>
          <a href="" class="f-links">Teaching Methodology</a>
        </li>
        <li>
          <a href="" class="f-links">Student Testimonials</a>
        </li>
        <li>
          <a href="" class="f-links">Parent Testimonials</a>
        </li>
        <li>
          <a href="" class="f-links">Our Mentors</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 p-2">map</div>
  </div>
  <div class="row p-2 f-section">
    <div class="col-sm-9">
      <p class="f-text mb-1">
        Copyright All Right Reserved 2023,
        <span class="text text-success fw-bold">Resonance Karimnagar</span>
      </p>
      <h6 class="f-text">
        Managed by MAIDEN DROP EDU FOUNDATION and MAIDEN DROP EDU FOUNDATION
        SOCIETY
      </h6>
    </div>
    <div class="col-sm-3">
      <p class="f-text mb-2">
        Designed & Developed by
        <span class="text text-success fw-bold">Vitasoft</span>
      </p>
      <p class="ms-4">
        <a href=""> <i class="bi bi-facebook ms-2 f-icon"></i></a>
        <a href=""> <i class="bi bi-twitter-x ms-2 f-icon"></i></a>
        <a href=""> <i class="bi bi-youtube ms-2 f-icon"></i></a>
        <a href=""> <i class="bi bi-linkedin ms-2 f-icon"></i></a>
        <a href=""> <i class="bi bi-instagram ms-2 f-icon"></i></a>
        <a href=""> <i class="bi bi-whatsapp ms-2 f-icon"></i></a>
      </p>
    </div>
  </div>
</div>
