<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 m-auto">
      <div
        id="carouselExample"
        class="carousel slide animate__animated animate__pulse"
        data-interval="1000"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/images/poster1.webp"
              height="400"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/images/poster2.webp"
              height="400"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/images/poster3.webp"
              height="400"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev prev-btn"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon prev-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next next-btn"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon next-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row bg-light mt-4">
    <div
      class="col-sm-11 m-auto"
    >
      <div class="card p-4 card-bg text-center fw-bold border-0">
        <div class="row p-4">
          <div class="col-sm-4">
            <div class="card p-2 c mb-2">
              <div class="card-body text-color">
                <h1>NEET</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card p-2 c mb-2">
              <div class="card-body text-color">
                <h1>IIT's</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card p-2 c mb-2">
              <div class="card-body text-color">
                <h1>JEE Main</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row space" id="courses">
    <div class="course">
      <h3 class="course-title ms-4">Courses @Resonance Karimnagar</h3>
    </div>
  </div>
  <div class="row bg-course">
    <div class="col-sm-10 m-auto p-4">
      <h2>Engineering Courses</h2>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <div>
              <a routerLink="inter1-jee-main-adv">
                <button type="button" class="btn btn-outline-light read-link">
                  Read more >>>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <div>
              <a routerLink="inter1-jee-main-adv">
                <button type="button" class="btn btn-outline-light read-link">
                  Read more >>>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <div>
              <a routerLink="inter1-jee-main-adv">
                <button type="button" class="btn btn-outline-light read-link">
                  Read more >>>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-course mb-4">
    <div class="col-sm-10 m-auto p-4">
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <div>
              <a routerLink="inter1-jee-main-adv">
                <button type="button" class="btn btn-outline-light read-link">
                  Read more >>>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <div>
              <a routerLink="inter1-jee-main-adv">
                <button type="button" class="btn btn-outline-light read-link">
                  Read more >>>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <div>
              <a routerLink="inter1-jee-main-adv">
                <button type="button" class="btn btn-outline-light read-link">
                  Read more >>>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row result space" id="results">
    <div class="col-sm-7 bg-result text-white mt-1">
      <h2>Results</h2>
    </div>
    <div class="row result">
      <div class="col-sm-10 m-auto">
        <div class="row">
          <div class="col-sm-6 p-4">
            <img
              class="img-result"
              src="assets/images/result1.jpg"
              alt=""
              width="100%"
              height="350"
            />
          </div>
          <div class="col-sm-6 p-4">
            <img
              class="img-result"
              src="assets/images/result2.jpg"
              alt=""
              width="100%"
              height="350"
            />
          </div>
        </div>
      </div>
      <div>
        <h2 class="result-head ms-4">Advanced Results</h2>
        <div class="row mt-4">
          <div class="col-sm-10 m-auto mt-4">
            <p class="text text-success">
              Resonance's Tradition to achieve success has made it a pioneer
              coaching Institute in the field of JEE Advanced.
            </p>
            <p>
              Since 2002 Resonance's Success Graph of JEE Advanced is on a rise.
              Resonance's Vision to achieve Excellence in Career Education has
              given 42,000+ IITians to the Nation. For four consecutive years
              (from 2013 to 2016) Resonance gave the highest selection in JEE
              Advanced from any Institute of India. In 2020 Resonance produced
              inspiring results in JEE Advanced, which are the highest classroom
              selections from any institute of Kota. And it intends to keep on
              performing this brilliantly in the future.
            </p>
            <div class="row p-4">
              <div class="col-sm-6">
                <img
                  src="assets/images/adv-results.jpeg"
                  width="100%"
                  height="500"
                  alt=""
                />
              </div>
              <div class="col-sm-6">
                <img
                  src="assets/images/adv-results.jpeg"
                  width="100%"
                  height="500"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 m-auto">
      <div class="row">
        <div class="col-sm-6">
          <div class="p-4">
            <img
              src="assets/images/enquiry.jpg"
              width="100%"
              height="400"
              alt="Image of Enquiry Form"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p-4">
            <div class="card border-0">
              <div class="card-header border-0">
                <h4 class="text-warning fw-bold">Enquiry Form</h4>
              </div>
              <div class="card-header border-0">
                <div>
                  <label class="form-label">Full Name</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control form-control-sm"
                  />
                </div>
                <div>
                  <label class="form-label">Email Id</label>
                  <input
                    type="email"
                    name=""
                    id=""
                    class="form-control form-control-sm"
                  />
                </div>
                <div>
                  <label class="form-label">Mobile Number</label>
                  <input
                    type="number"
                    name=""
                    id=""
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="form-check mt-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    I agree to receive information regarding my submitted
                    application by signing up on Resonance Karimnagar *
                  </label>
                </div>
                <div class="text-center m-4">
                  <button class="btn btn-success btn-sm w-75">
                    Download Brochure
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row space" id="about" #about>
    <div class="bg-light">
      <h2 class="ms-4">About Us</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 m-auto">
        <img
          src="assets/images/aboutus.webp"
          width="100%"
          height="600px"
          alt=""
          style="padding: 10px"
        />
      </div>
      <div class="col-sm-6">
        <p class="p-2 mt-4 about">
          After training thousands of IIT, NIT, and NEET aspirants across India,
          Resonance Kota brings its 20-year legacy and success streak to
          Karimnagar. A brainchild of our founder, Mr. R.K. Verma, Resonance is
          an esteemed institution where we pride ourselves in having the best
          Kota faculty to train students while providing study material that can
          be classified as the best in the industry. Besides our well-researched
          syllabus and teaching methodologies, we also provide a special student
          mentorship program to ensure that our students are not only excelling
          in academics but are also ready for the dynamic life ahead. If you
          have any questions or comments, please contact us at 9966533347
        </p>
        <p class="p-2 mt-2 about">
          After training thousands of IIT, NIT, and NEET aspirants across India,
          Resonance Kota brings its 20-year legacy and success streak to
          Karimnagar. A brainchild of our founder, Mr. R.K. Verma, Resonance is
          an esteemed institution where we pride ourselves in having the best
          Kota faculty to train students while providing study material that can
          be classified as the best in the industry. Besides our well-researched
          syllabus and teaching methodologies, we also provide a special student
          mentorship program to ensure that our students are not only excelling
          in academics but are also ready for the dynamic life ahead. If you
          have any questions or comments, please contact us at 9966533347
        </p>
      </div>
      <div class="p-4">
        <h3>Academic Team</h3>
        <p class="about">
          A team of India’s finest faculty members is the core of the Resonance
          experience. Most of our faculty members are IITians/NITians for the
          PreEngineering Division or Doctors from the top Medical Colleges of
          India for the Medical Division, CAS/CS/MBAs/Law Graduates for the
          Commerce & Law Program Division.
        </p>
        <p class="about">
          All the faculty members are recruited through a rigorous recruitment
          process that involves scrutiny of applications, written test,
          demonstration lecture, and personal interview.
        </p>
        <p class="about">
          Newly recruited faculty members undergo an intensive training program
          called Faculty Training Program (FTP) where his/her knowledge,
          attitude, and communication are further sharpened. New faculty members
          also attend the classes of senior faculty members to understand the
          teaching methodology, effective use of teaching aids, and general
          behavior in the classroom.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 m-auto">
        <img
          src="assets/images/india-reso.jpg"
          alt=""
          width="100%"
          height="450"
        />
      </div>
    </div>
    <div class="row space" id="contact" #contact>
      <div class="bg-light mb-2">
        <h3 class="ms-4">Contact Us</h3>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card contact-bg border-0">
            <div class="card-header ps-3">
              <h5 class="mb-0 text-muted">
                <span><i class="bi bi-geo-alt"></i></span> Admissions Office
              </h5>
              <p class="mb-0 ms-4 text-muted address">
                Opp. Indian Petrol Bunk, Jagitial Road,
              </p>
              <p class="ms-4 text-muted address">KARIMNAGAR - 505001.</p>
              <p class="fw-bold mb-0">
                <span><i class="bi bi-envelope-open me-1"></i></span>Email:
                <a class="gmail" href="mailto:contact@resonancekarimnagar.com">
                  contact@resonancekarimnagar.com
                </a>
              </p>
              <p class="fw-bold mb-0">
                <span><i class="bi bi-telephone-outbound me-1"></i></span
                >Mobile:
                <a class="phone" href="tel:+91 912 121 9858">
                  +91 9966533347
                </a>
              </p>
            </div>
            <div class="card-body">
              <h5 class="text-center text-dark fw-bold info">
                Leave us your info
              </h5>
              <div class="p-2">
                <form>
                  <div class="mb-1">
                    <label class="info-label">Full Name</label>
                    <input
                      type="text"
                      class="form-control form-control-sm info-input"
                      id="fullname"
                    />
                  </div>
                  <div class="mb-1">
                    <label class="info-label">Email address</label>
                    <input
                      type="email"
                      class="form-control form-control-sm info-input"
                      id="email"
                    />
                  </div>
                  <div class="mb-1">
                    <label class="info-label">Mobile Number</label>
                    <input
                      type="number"
                      class="form-control form-control-sm info-input"
                      id=""
                    />
                  </div>
                  <div class="mb-1">
                    <label class="info-label" for="">Gender</label>
                    <select
                      class="form-control form-control-sm info-input"
                      id=""
                    >
                      <option value="">--- Select Gender ---</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                  <div class="mb-1">
                    <label class="info-label">Parent Name</label>
                    <input
                      type="text"
                      class="form-control form-control-sm info-input"
                      id=""
                    />
                  </div>
                  <div class="mb-1">
                    <label class="info-label">Parent Number</label>
                    <input
                      type="number"
                      class="form-control form-control-sm info-input"
                      id="number"
                    />
                  </div>
                  <div class="mb-1">
                    <label class="info-label">City</label>
                    <input
                      type="text"
                      class="form-control form-control-sm info-input"
                      id=""
                    />
                  </div>
                  <div class="mb-1">
                    <label class="info-label">State</label>
                    <input
                      type="text"
                      class="form-control form-control-sm info-input"
                      id=""
                    />
                  </div>
                  <div class="text-center mt-2">
                    <button type="submit" class="btn btn-success btn-sm w-75">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="mt-4">
            <p>
              An Integrated Academic Program With NEET-Focused Teaching for
              Intermediate Students
            </p>
            <h3>
              You can reach us by following address in the below google map
            </h3>
          </div>
          <div class="p-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
