.nav-tabs .nav-link {
  border-color: white;
}
.nav-link {
  color: black;
  font-weight: 520;
  font-family: Poppins, sans-serif;
  padding: 5px;
}
a:active{
    background-color: yellow !important;;
}
