<div class="container-fluid">
  <div class="row">
    <div class="main">
      <div class="row head">
        <div class="col-sm-11 m-auto animate__animated animate__pulse">
          <h3 class="text text-warning">Resonance Hyderabad</h3>
          <h1>About Resonance Hyderabad</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="p-4">
        <p>
          After training thousands of IIT, NIT, and NEET aspirants across India,
          Resonance Kota brings its 20-year legacy and success streak to
          Karimnagar.
        </p>
        <p>
          A brainchild of our founder, Mr. R.K. Verma, Resonance is an esteemed
          institution where we pride ourselves in having the best Kota faculty
          to train students while providing study material that can be
          classified as the best in the industry. Besides our well-researched
          syllabus and teaching methodologies, we also provide a special student
          mentorship program to ensure that our students are not only excelling
          in academics but are also ready for the dynamic life ahead.
        </p>
        <p>
          If you have any questions or comments, please contact us at
          <span class="text text-primary">8886662924</span>
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="p-4">
        <img
          src="../../assets/images/about5.jpg"
          alt=""
          width="100%"
          height="300"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 m-auto">
      <div class="row">
        <div class="col-sm-4">
          <div class="card cards text-center">
            <div class="card-header bg-info p-2">
              <h3 class="text2">VISION</h3>
            </div>
            <div class="card-body">
              <div>
                <h5>Execellence in Career Education</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card cards text-center">
            <div class="card-header bg-warning">
              <h3 class="text2">MISSION</h3>
            </div>
            <div class="card-body">
              <div>
                <h5>Execellence in Career Education</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card cards text-center">
            <div class="card-header bg-success">
              <h3 class="text2">VALUES</h3>
            </div>
            <div class="card-body">
              <div>
                <h5>Execellence in Career Education</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="p-4 why-reso">Why Resonance ?</h2>
    <div class="row">
      <div class="col-sm-10 m-auto">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button fw-bold text-dark"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Education System
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>Education System</strong>
                <p>
                  Every part of the Resonance system - be it academics,
                  studentfaculty relation, performance monitoring, orientation,
                  curriculum execution or other relevant areas - follow a set of
                  do's and don'ts along with target based goals. This ensures
                  that every student at Resonance experiences uniform attention
                  and interaction with faculty members along with setting their
                  individual goals and achievements.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed fw-bold text-dark"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Faculty
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>Experienced Faculty</strong>
                <p>
                  A team of India's finest faculty members is the core of
                  Resonance experience. Many of our faculty members for
                  Pre-Engineering division are IITians/NITians and Doctors from
                  the top Medical Colleges of India for Medical Division, CA/
                  CS/ MBAs/Law Graduates for Commerce & Law Program Division.
                  All the faculty members are recruited through a rigorous
                  recruitment process which involves scrutiny of applications,
                  written test, demonstration lecture and a personal interview.
                  New/ fresh recruited faculty members undergo an intensive
                  training program called Faculty Training Program (FTP) where
                  his/her knowledge, attitude and communication skills are
                  further sharpened. New faculty members also attend the classes
                  of senior faculty members to understand the teaching
                  methodology, effective use of teaching aids and general
                  behaviour in classroom. To further groom and refine the skills
                  of young teachers, a Faculty Development Program (FDP) is
                  designed under which continuous enrichment and value addition
                  is done to keep them aware of changing trends in competitive
                  examinations. Challenger Test Series (CTS) is organized for
                  the faculty members to rejuvenate their motivation level and
                  enhance the skills of solving questions within stipulated time
                  with speed and accuracy.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed fw-bold text-dark"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Results
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>Academic Results</strong>
                <p>
                  50,000+ Students selected in IIT-JEE (Now known as JEE
                  -Advanced) so far since 2002. 2,50,000+ Students selected in
                  AIEEE (Now known as JEE-Main) so far since 2009.
                  19,000+Students selected in NEET so far since 2012. 2440 NTSE
                  Scholars, 2859 KVPY Fellowship winners, 13 Gold Medals &.51
                  Medalists in International Olympiads since 2006. 2273
                  selections in CA (all stages), 1767 CS, 63 students in CLAT
                  since 2013. 3 times AIR-1 in CS Foundation exam attempts: June
                  2019, June 2018 & December 2017, AIR-1 in CS Executive & AIR-1
                  in CA Final 2018 (November attempt).
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
