<div class="container-fluid bg-light">
  <div class="row">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/course-img2.png"
            height="500"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/course-logo3.jpg"
            height="500"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/courses-bg.jpg"
            height="500"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev prev-btn"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon prev-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next-btn"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon next-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row bg-course">
    <div class="col-sm-10 m-auto p-4">
      <h2 class="medical">Engineering Courses</h2>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 1st Year + JEE <br />
                (Main + Advanced)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a href="/inter1-jee-main-adv" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 1st Year + JEE <br />
                (Main)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 2nd Year + JEE <br />
                (Main + Advanced)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-course mb-4">
    <div class="col-sm-10 m-auto p-4">
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 2nd Year + JEE <br />
                (Main)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                IIT Long Term Coaching +JEE <br />
                (Main + Advanced)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                IIT Long Term Coaching +JEE <br />
                (Main)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-course">
    <div class="col-sm-10 m-auto p-4">
      <h2 class="medical">Medical Courses</h2>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 1st Year + JEE <br />
                (Main + Advanced)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 1st Year + JEE <br />
                (Main)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow m-1">
            <div class="">
              <h4 class="cs">
                Intermediate 2nd Year + JEE <br />
                (Main + Advanced)
              </h4>
            </div>
            <div>
              <button class="btn btn-outline-light rm-btn w-50 text-center">
                <a routerLink="" routerLinkActive="Active" class="read-link"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-appointment">
    <div class="col-sm-8 p-2 m-auto">
      <h4 class="text-center p-2 appointment">Make An Appointment</h4>
      <div class="card p-4 border-0">
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-4">
              <label for="" class="form-label">Student Full Name</label>
              <input
                type="text"
                name=""
                id="fullname"
                class="form-control ap-input"
              />
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Student Email id</label>
              <input
                type="email"
                name=""
                id="emailid"
                class="form-control ap-input"
              />
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Student Mobile Number</label>
              <input
                type="number"
                name=""
                id="mobileno"
                class="form-control ap-input"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mb-4">
              <label for="" class="form-label">Parent Name</label>
              <input
                type="text"
                name=""
                id="fullname"
                class="form-control ap-input"
              />
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Parent Email id</label>
              <input
                type="email"
                name=""
                id="emailid"
                class="form-control ap-input"
              />
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Parent Mobile Number</label>
              <input
                type="number"
                name=""
                id="mobileno"
                class="form-control ap-input"
              />
            </div>
          </div>
        </div>
        <div class="row">
         <div class="mb-3">
          <label for="" class="form-label">Address</label>
          <textarea
            name=""
            id=""
        
            rows="2"
            class="form-control ap-input"
          ></textarea>
         </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input
              type="text"
              name=""
              id=""
              class="form-control ap-input"
              placeholder="ReS25k8"
            />
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              name=""
              id=""
              class="form-control ap-input"
              placeholder="Enter the captcha"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="">
            <input
              type="checkbox"
              name=""
              id=""
              class="me-4 ms-4 ap-input"
              style="width: 18px; height: 18px"
            />I agree to receive information regarding my submitted application
            by signing up on Resonance Hyderabad *
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <button class="btn btn-success fw-bold w-75 mt-4 mb-4">
              Download Brochure
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
